%h1= @rubygem.name

current category

= @rubygem.category || 'N/A'

= form_for [@rubygem, @suggestion] do |f|
  = render 'error', model: @suggestion
  = f.label :category, 'suggesting category'
  = f.text_field :category
  = f.submit
