%h1= @rubygem.name

current category

= @rubygem.category || 'N/A'

= form_for [@rubygem, @suggestion] do |f|
  = render 'error', model: @suggestion
  = f.label :category_name, 'suggesting category'
  = f.text_field :category_name, class: 'typeahead', autocomplete: 'off'
  = f.submit
