%h1= @rubygem.name
%h2= @rubygem.info

version
= @rubygem.version

%br

authors
= @rubygem.authors

%br

licences
= @rubygem.licenses.join(',')

%br

download count in 1 month
= @rubygem.download_count_for_ranking

%br

category
- if @rubygem.category
  = link_to @rubygem.category.name, @rubygem.category
- else
  N/A
  = link_to 'suggest a category', edit_rubygem_path(@rubygem)

%br

= link_to @rubygem.project_uri do
  %i.fa.fa-diamond{ 'aria-hidden': true }
  gem page

= link_to @rubygem.homepage_uri do
  %i.fa.fa-home{ 'aria-hidden': true }
  homepage

= link_to @rubygem.wiki_uri do
  %i.fa.fa-pencil-square-o{ 'aria-hidden': true }
  wiki

= link_to @rubygem.documentation_uri do
  %i.fa.fa-book{ 'aria-hidden': true }
  document
