%h2= @rubygem.name
%h3= @rubygem.info

.btn-group
  = link_to @rubygem.homepage_uri, class: 'btn btn-default' do
    %i.fa.fa-home{ 'aria-hidden': true }
    homepage

  = link_to @rubygem.wiki_uri, class: 'btn btn-default' do
    %i.fa.fa-pencil-square-o{ 'aria-hidden': true }
    wiki

  = link_to @rubygem.documentation_uri, class: 'btn btn-default' do
    %i.fa.fa-book{ 'aria-hidden': true }
    document

  = link_to @rubygem.project_uri, class: 'btn btn-default' do
    %i.fa.fa-diamond{ 'aria-hidden': true }
    gem page

.list-group.rubygem-info
  .list-group-item
    %h4.list-group-item-heading Category
    %p.list-group-item-text
      - if @rubygem.category
        = link_to @rubygem.category.name, @rubygem.category
        = link_to 'suggest a category', edit_rubygem_path(@rubygem)
      - else
        N/A
        = link_to 'suggest a category', edit_rubygem_path(@rubygem)
  .list-group-item
    %h4.list-group-item-heading Download count in 1 month
    %p.list-group-item-text= @rubygem.download_count_for_ranking
  .list-group-item
    %h4.list-group-item-heading Version
    %p.list-group-item-text= @rubygem.version
  .list-group-item
    %h4.list-group-item-heading Authors
    %p.list-group-item-text= @rubygem.authors
  .list-group-item
    %h4.list-group-item-heading Licences
    %p.list-group-item-text= @rubygem.licenses&.join(',')
