- @suggestions.each do |suggestion|
  = link_to suggestion.rubygem.name, suggestion.rubygem
  %br
  now category:
  = suggestion.rubygem.category
  %br
  suggested category:
  = suggestion.category
  %br
  by
  = suggestion.user.github_name
  %br
  = form_for [:admin, suggestion] do |f|
    = f.submit 'Accept', name: 'accept'
    = f.submit 'Reject', name: 'reject'
