%h2= @rubygem.name

.btn-group
  = link_to @rubygem.homepage_uri, class: 'btn btn-default' do
    %i.fa.fa-home{ 'aria-hidden': true }
    homepage

  = link_to @rubygem.wiki_uri, class: 'btn btn-default' do
    %i.fa.fa-pencil-square-o{ 'aria-hidden': true }
    wiki

  = link_to @rubygem.documentation_uri, class: 'btn btn-default' do
    %i.fa.fa-book{ 'aria-hidden': true }
    document

  = link_to @rubygem.project_uri, class: 'btn btn-default' do
    %i.fa.fa-diamond{ 'aria-hidden': true }
    gem page

= link_to 'rubygem page for user', @rubygem

download_count_for_ranking:

= @rubygem.download_count_for_ranking

= form_for [:admin, @rubygem] do |f|
  = render 'error', model: @rubygem
  .form-group
    = f.label :category_name, 'category'
    = text_field_tag :category_name, @rubygem.category&.name, class: 'typeahead form-control', autocomplete: 'off'
  = f.hidden_field :category_id
  = f.submit class: 'btn btn-success'

%ul.list-group
  - @rubygem.downloads.each do |download|
    %li.list-group-item
      = download.count
      downloads
      = download.created_at
