%h2= @rubygem.name

= link_to 'rubygem page for user', @rubygem

download_count_for_ranking:

= @rubygem.download_count_for_ranking

= form_for [:admin, @rubygem] do |f|
  = render 'error', model: @rubygem
  .form-group
    = f.label :category_name, 'category'
    = text_field_tag :category_name, @rubygem.category.name, class: 'typeahead form-control', autocomplete: 'off'
  = f.hidden_field :category_id
  = f.submit class: 'btn btn-success'

%ul.list-group
  - @rubygem.downloads.each do |download|
    %li.list-group-item
      = download.count
      downloads
      = download.created_at
